
@font-face {
  font-family: "NanumLt";
  src: url("./assets/NanumSquareNeo-aLt.ttf");
}
@font-face {
  font-family: "NanumRg";
  src: url("./assets/NanumSquareNeo-bRg.ttf");
}
@font-face {
  font-family: "PtSerif";
  src: url("./assets/PTSerif-Regular.ttf");
}